<h1>ImageGram</h1>


<% if user_signed_in? %>

<h3>Bienvenido! <%= current_user.name %> </h3>

<br/>

<a href="/images" >Imagenes</a>
<%= current_user.id %>

<br/>

<% else %>

<p> por favor inicia sesión para ver imagenes </p>

<% end %>
